.painting {
	top: -17%;

	.painting-container {
		width: 35vw;
		height: 45vw;
	}

	@media (max-width: 768px) {
		.painting-container {
			width: 80vw;
			height: 90vw;
		}

		top: 5%;
	}
}

.statue {
	left: 20%;
	top: 8%;
	filter: drop-shadow(0 0 0.75rem rgb(133, 133, 133));

	img {
		width: 22vw;
	}

	@media (max-width: 768px) {
		top: 20%;

		img {
			width: 50vw;
		}
	}
}

.circle-container {
	width: 150px;
	height: 150px;

	@media (max-width: 1400px) {
		width: 100px;
		height: 100px;
	}
}

.envelope {
	transition: 0.3s ease;

	&:hover {
		transform: translateY(-7px);
	}
}

.heading-text h2 {
	font-size: 8rem;

	@media (max-width: 1400px) {
		font-size: 7vw;
	}
}

.text-outline {
	h2 {
		color: black;
		-webkit-text-stroke: 0px black;
		transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
		cursor: pointer;
		letter-spacing: 0.2rem;

		@media (max-width: 768px) {
			font-size: 17vw;
		}
	}

	&:hover h2 {
		-webkit-text-stroke: 1px black;
		color: transparent;
	}
}

.keelan-text h2 span {
	transform: translateY(20px);

	@media (max-width: 1400px) {
		transform: translateY(15px);
	}

	@media (max-width: 768px) {
		transform: translateY(0px);
	}
}

.keelan-text h2 {
	transform: translateY(40px);
}

.hero {
	& > * {
		@media (max-width: 768px) {
			height: 50vh;
		}
	}
}