@import "./components/_hero.scss";
@import "./components/_animations.scss";
@import "./components/projects.scss";
@import "./components/_side-columns.scss";
@import "./components/_about.scss";

:root {
	--primary-color: #A60000;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	overflow-x:hidden;
}

.scrollable {
	overflow-y: scroll;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.image-crop {
	object-fit: cover;
}

.image-height {
	width: 550px;
	height: 80vh;
}

.rotate {
	writing-mode: vertical-rl;
}

.bigger-text h2 {
	font-size: 9rem;
	transform: translate(-150px, 20px);

	@media screen and (max-width: 1560px) {
		font-size: 8.5vw;
		transform: translate(-80px, 20px);
	}
}

.bigger-text2 h2 {
	font-size: 9rem;

	@media screen and (max-width: 1550px) {
		font-size: 9vw;
	}
}

.border-black {
	border: 1px solid black !important;
	border-left: 3px solid var(--primary-color) !important;
}

.border-black-1 {
	border: 1px solid black;
}

.button-to-scroll {
	animation: button-to-scroll 0.5s ease-in-out forwards;
}

.text-to-scroll {
	animation: text-to-scroll 0.3s ease-in-out forwards;
	white-space: nowrap
}

.form-control {
	border-radius: 0 !important;
	border: 2px solid black !important;
}

textarea {
	height: 20vh !important;
}